<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>genre</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1301</integer>
			<key>title</key>
			<string>Arts</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1306</integer>
					<key>title</key>
					<string>Food</string>
				</dict>
				<dict>
					<key>id</key>
					<real>1401</real>
					<key>title</key>
					<string>Literature</string>
				</dict>
				<dict>
					<key>id</key>
					<real>1402</real>
					<key>title</key>
					<string>Design</string>
				</dict>
				<dict>
					<key>id</key>
					<real>1405</real>
					<key>title</key>
					<string>Performing Arts</string>
				</dict>
				<dict>
					<key>id</key>
					<real>1406</real>
					<key>title</key>
					<string>Visual Arts</string>
				</dict>
				<dict>
					<key>id</key>
					<real>1459</real>
					<key>title</key>
					<string>Fashion &amp; Beauty</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1303</integer>
			<key>title</key>
			<string>Comedy</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1304</integer>
			<key>title</key>
			<string>Education</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1415</integer>
					<key>title</key>
					<string>K–12</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1416</integer>
					<key>title</key>
					<string>Higher Education</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1468</integer>
					<key>title</key>
					<string>Educational Technology</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1469</integer>
					<key>title</key>
					<string>Language Courses</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1470</integer>
					<key>title</key>
					<string>Training</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1305</integer>
			<key>title</key>
			<string>Kids &amp; Family</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1307</integer>
			<key>title</key>
			<string>Health</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1417</integer>
					<key>title</key>
					<string>Fitness &amp; Nutrition</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1420</integer>
					<key>title</key>
					<string>Self-Help</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1421</integer>
					<key>title</key>
					<string>Sexuality</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1481</integer>
					<key>title</key>
					<string>Alternative Health</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1309</integer>
			<key>title</key>
			<string>TV &amp; Film</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1310</integer>
			<key>title</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1311</integer>
			<key>title</key>
			<string>News &amp; Politics</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1314</integer>
			<key>title</key>
			<string>Religion &amp; Spirituality</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1438</integer>
					<key>title</key>
					<string>Buddhism</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1439</integer>
					<key>title</key>
					<string>Christianity</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1440</integer>
					<key>title</key>
					<string>Islam</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1441</integer>
					<key>title</key>
					<string>Judaism</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1444</integer>
					<key>title</key>
					<string>Spirituality</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1463</integer>
					<key>title</key>
					<string>Hinduism</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1464</integer>
					<key>title</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1315</integer>
			<key>title</key>
			<string>Science &amp; Medicine</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1477</integer>
					<key>title</key>
					<string>Natural Sciences</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1478</integer>
					<key>title</key>
					<string>Medicine</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1479</integer>
					<key>title</key>
					<string>Social Sciences</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1316</integer>
			<key>title</key>
			<string>Sports &amp; Recreation</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1456</integer>
					<key>title</key>
					<string>Outdoor</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1465</integer>
					<key>title</key>
					<string>Professional</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1466</integer>
					<key>title</key>
					<string>College &amp; High School</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1467</integer>
					<key>title</key>
					<string>Amateur</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1318</integer>
			<key>title</key>
			<string>Technology</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1446</integer>
					<key>title</key>
					<string>Gadgets</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1448</integer>
					<key>title</key>
					<string>Tech News</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1450</integer>
					<key>title</key>
					<string>Podcasting</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1480</integer>
					<key>title</key>
					<string>Software How-To</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1321</integer>
			<key>title</key>
			<string>Business</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1410</integer>
					<key>title</key>
					<string>Careers</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1412</integer>
					<key>title</key>
					<string>Investing</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1413</integer>
					<key>title</key>
					<string>Management &amp; Marketing</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1471</integer>
					<key>title</key>
					<string>Business News</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1472</integer>
					<key>title</key>
					<string>Shopping</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1323</integer>
			<key>title</key>
			<string>Games &amp; Hobbies</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1404</integer>
					<key>title</key>
					<string>Video Games</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1454</integer>
					<key>title</key>
					<string>Automotive</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1455</integer>
					<key>title</key>
					<string>Aviation</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1460</integer>
					<key>title</key>
					<string>Hobbies</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1461</integer>
					<key>title</key>
					<string>Other Games</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1324</integer>
			<key>title</key>
			<string>Society &amp; Culture</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1302</integer>
					<key>title</key>
					<string>Personal Journals</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1320</integer>
					<key>title</key>
					<string>Places &amp; Travel</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1443</integer>
					<key>title</key>
					<string>Philosophy</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1462</integer>
					<key>title</key>
					<string>History</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1325</integer>
			<key>title</key>
			<string>Government &amp; Organizations</string>
			<key>subgenre</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1473</integer>
					<key>title</key>
					<string>National</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1474</integer>
					<key>title</key>
					<string>Regional</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1475</integer>
					<key>title</key>
					<string>Local</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>1476</integer>
					<key>title</key>
					<string>Non-Profit</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>feature</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1301</integer>
			<key>title</key>
			<string>Arts</string>
		</dict>
		<dict>
			<key>id</key>
			<real>1318</real>
			<key>title</key>
			<string>Technology</string>
		</dict>
	</array>
</dict>
</plist>
